# Mundo 15

### Leitura e extração de dados

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String

In [2]:
user = "root"
senha = "root"
banco_de_dados = "codigo_py"
host = "localhost"
porta = 3306
    
conexao = create_engine(url=f"mysql+pymysql://{user}:{senha}@{host}:{porta}/{banco_de_dados}")

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
Banco_de_dados = declarative_base()

class User(Banco_de_dados):

    __tablename__ = 'price'

    id = Column(Integer, primary_key=True, autoincrement=True)
    empresas = Column(String(50))
    cotacao = Column(Integer)


Banco_de_dados.metadata.create_all(conexao)

In [ ]:
#colocar dados na tabela com o pandas

nome_tabela = 'price'
df_teste = pd.DataFrame({"empresas": ['WEGE3', 'PCAR4', 'PETR4'],
                       "cotacao": [20, 30, 40]}, index = pd.date_range("2022-01-01", periods = 3))

df_teste.to_sql(nome_tabela, conexao, index=False, if_exists='append')

3

In [ ]:
#como ler dados do SQL com o pandas?

nome_tabela = 'price'
comando_sql = f"SELECT * FROM {nome_tabela};" #tem que saber SQL
df = pd.read_sql(comando_sql,con=conexao)

df

   id empresas  cotacao
0   1    WEGE3       20
1   2    PCAR4       30
2   3    PETR4       40

# Mundo 16

Ta, você já aprendeu a ler dados com o Pandas. Agora vamos aprender a limpar e preparar esses dados pras nossas análises, começando por tirar dados faltantes das nossas tabelas?