# Mundo 20

### Limpeza e tratamento de dados

In [1]:
import pandas as pd
import  yfinance as yf
import numpy as np

In [ ]:
valores = np.random.rand(10)#criar 10 valores aleatorios entre 0,1

valores

In [ ]:
#divindo valores baseado em %

divisoes = [0,0.25,0.5,0.75,1]

valores_categorias = pd.cut(valores,divisoes)

valores_categorias

In [ ]:
#contando e organizando em grupos
numero_de_amostras_por_categoria = pd.value_counts(valores_categorias)

numero_de_amostras_por_categoria

In [ ]:
#transformar a amostra em variaves dummys

df_dummies = pd.get_dummies(valores_categorias)
df_dummies

In [ ]:
#analise de idade de CEOS das empreas da bolsa

df_ceos_empresas = pd.DataFrame({"Empresa": ['Weg', 'Vale', 'Petrobras', 'Renner',
                                            'Assai', 'Nubank', 'Inter', 'BTG'],
                                'Nome_ceo': ['Pedro', 'Nelson', 'Lucas', 'Stefany',
                                            'Mateus', 'Aline', 'Raquel', 'Paloma'],
                                'Idade': [36, 45, 55, 60, 62, 23, 31, 32]})


df_ceos_empresas

In [ ]:
faixa_etaria = [0,18,25,35,50,65]

ceos_por_idade = pd.value_counts(pd.cut(df_ceos_empresas['Idade'],faixa_etaria))

ceos_por_idade.sort_values()

# Exercícios 
<BR>
    
Leia o excel disponibilizado na aula e:
    
* Exercício 72: Arrume uma forma de dividir as empresas pelo seu DY através de quartis (dica: use rankings). Depois disso, peça para o usuário digitar uma empresa disponível na bolsa e devolva em qual quartil a empresa está na amostra de distribuição de dividendos.
* Exercício 73: Crie um data frame de Dummies baseado nos quartis de DY, divididos no exercício exterior.

In [42]:
#exercio 72
#tratamento de planilha excel
dados_dy = pd.read_excel("C:/Users/Tiago/Documents/Codigo.Py/Galaxia/Galaxia 4 - Pandas/Excel/Mundo20-dy_yield_empresas_26set.xlsx")
#tratamento de planilha excel
dados_dy = dados_dy.dropna()

dados_dy['ranking_dividendos'] = dados_dy['DY_12M'].rank(ascending = False)

divisorias = [0, (max(dados_dy['ranking_dividendos'])/4), 
              (max(dados_dy['ranking_dividendos'])/4 * 2),  
              (max(dados_dy['ranking_dividendos'])/4 * 3),
             max(dados_dy['ranking_dividendos']) + 1]

dados_dy['quartil'] = pd.cut(dados_dy['ranking_dividendos'], divisorias)

dados_dy['rank_quartil'] = dados_dy['quartil'].rank(method = "dense")

empresa_escolhida = input('''Qual empresa você quer saber o quartil que ela ocupa na distribuição
                          de dividendos da bolsa? ''').upper()

quartil = (dados_dy[dados_dy['TICKER'] == empresa_escolhida]).iloc[0, 5]

print(f'''A empresa {empresa_escolhida} fica localizada 
                no {quartil}º quartil em distribuição de dividendos
                de todas as empresas da bolsa.''')


dummies_empresas = pd.get_dummies(dados_dy['quartil'])

dummies_empresas

A empresa BRSR6 fica localizada
                no 1.0º quartil em distribuição de dividendos
                de todas as empresas da bolsa.

     (0.0, 84.625]  (84.625, 169.25]  (169.25, 253.875]  (253.875, 339.5]
2                0                 0                  0                 1
3                0                 1                  0                 0
4                0                 0                  1                 0
5                1                 0                  0                 0
8                1                 0                  0                 0
..             ...               ...                ...               ...
659              1                 0                  0                 0
661              0                 1                  0                 0
665              0                 0                  0                 1
666              0                 0                  0                 1
667              0                 0                  0                 1

[394 rows x 4 columns]